body {
  margin: 0;
  padding: 0;
  height: 100%; }

html,
#editor,
#canvas {
  height: 100%; }

#editor {
  width: 40%;
  float: left; }
  #editor ul#buttons {
    margin: 0;
    list-style: none;
    background: #9b9b9b; }
    #editor ul#buttons li {
      display: inline-block;
      padding: 7px 10px; }
      #editor ul#buttons li:hover {
        cursor: pointer;
        background: #dbdbdb; }
  #editor #canvas:hover {
    cursor: text; }

#preview {
  overflow: auto;
  background: #222222;
  height: 100%; }

#hidden-elements {
  display: none; }

input {
  display: block;
  width: 100%;
  font-size: 15px;
  box-shadow: none;
  border: none; }
  input:focus {
    outline: 0; }
  input:placeholder {
    color: #999999 !important; }

#dom-object {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #cccccc; }
