body
  margin: 0
  padding: 0
  height: 100%
  
html,
#editor,
#canvas
  height: 100%

#editor
  width: 40%
  float: left
  ul#buttons
    margin: 0
    list-style: none
    background: #9b9b9b
    li
      display: inline-block
      padding: 7px 10px
      &:hover
        cursor: pointer
        background: #dbdbdb
  #canvas
    &:hover
      cursor: text

#preview
  overflow: auto
  background: #222
  height: 100%

#hidden-elements
  display: none
  
input
  display: block
  width: 100%
  font-size: 15px
  box-shadow: none
  border: none

  &:focus
    outline: 0

  &:placeholder
    color: #999 !important
  
  
// Objects
.dom-object
  margin-left: 9px
  &.thing
    margin: 10px
    padding: 10px
    border-radius: 5px
    box-shadow: 1px 1px 1px #ccc    
  &.config
    color: red
  &.variable
    color: green
  &.connection
    color: yellow