*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  margin: 0
  padding: 0
  height: 100%
  font-family: 'Arial'
  overflow: hidden
  padding-bottom: 49px
  
html,
#editor,
#canvas
  height: 100%

header
  height: 50px
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
  a,
  a:link,
  a:visited
    float: right
    background: white
    padding: 0 15px
    font-weight: bold
    height: 100%
    line-height: 50px
    color: #333
    border-left: 1px solid #ddd
    

#editor
  width: 40%
  float: left
  ul#buttons
    overflow: auto
    margin: 0
    margin-left: 2px
    padding: 0
    list-style: none
    background: #f6f6f6
    border-top: 1px solid #bbb
    border-bottom: 1px solid #ddd
    li
      float: left
      padding: 10px 12px
      margin: 0
      color: black
      text-shadow: 1px 1px 1px white
      border-right: 1px solid #ddd
      &:hover
        cursor: pointer
        background: rgba(255, 255, 255, .4)
  #canvas
    &:hover
      cursor: text

textarea#preview,
.CodeMirror-wrap
  float: right
  height: 100%
  width: 60%
  background: #eee
  border: 1px solid #ccc
  
#hidden-elements
  display: none
  
input
  display: block
  width: 100%
  font-family: 'Arial'  
  font-size: 14px
  box-shadow: none
  border: none

  &:focus
    outline: 0

  &:placeholder
    text-transform: capitalize !important
    color: #999 !important
  
  .thing > &
    font-size: 16px
  
// Objects
.dom-object
  margin-left: 9px
  &.thing
    margin: 10px
    padding: 10px
    border-radius: 5px
    box-shadow: 1px 1px 1px #ccc 
  &.config
    color: red
  &.variable
    color: green
  &.connection
    color: yellow